<launch>
	<arg name="sim" default="false" />
	<arg name="robot_ip" unless="$(arg sim)" default="" doc="IP of controller" />
  	<arg name="robot_port" unless="$(arg sim)" default="11000" doc="Port of controller" />

	<rosparam command="load" file="$(find DARS_right_arm_moveit_config)/config/joint_names.yaml"/>

	<include file="$(find DARS_right_arm_moveit_config)/launch/planning_context.launch" >
		<arg name="load_robot_description" value="true" />
	</include>

	<group if="$(arg sim)">
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="/use_gui" value="false"/>
			<rosparam param="/source_list">[/joint_states]</rosparam>
		</node>
	</group>

	<group unless="$(arg sim)">
		<include file="$(find itri_driver)/launch/itri_interface_streaming.launch" >
		  <arg name="robot_ip" value="$(arg robot_ip)"/>
		  <arg name="robot_port" value="$(arg robot_port)"/>
		</include>
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
	</group>

	<include file="$(find DARS_right_arm_moveit_config)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true" />
	</include>

	<include file="$(find DARS_right_arm_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
	</include>
</launch>